:root{
    --body-bg: #212529;
    --body-color: #555;
    --primariaP1: #2F3E46;
	--secudariaP1:#52796F;
    --body-bg-rv: whitesmoke;
    --bs-dark: #212529;

    scroll-behavior: smooth;
}
.dark-mode:root{
    --bs-dark: whitesmoke;
    --body-bg: whitesmoke;
    --body-color: #899095;
}

body{
    background-color: var(--body-bg);
    color: var(--body-color);
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0 ;
    z-index: 999;
}
main{
    height: 280vh;
}
footer{
    height: 10vh;
}
a:visited {
    color: var(--body-color);
}

#contacts{
    padding: 10vh;
}

#contacts h2{
    text-align: center;
}
#contacts img{
    height: 40px;
    width: fit-content;
}

.cttDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    gap: 1vh;
}

#boxContacts{
    justify-content: center;
    display: flex;
    gap: 8vw;
}


@media(min-width: 500px) {
    #projetos{
        flex-direction: row;
        height: 70vh;
    }
    .project-box{
        width: 30vw;
        margin: 2vh;
    }
    .closeDetailsButton{
        left: 93%;
    }
    .abilitiesBox{
        width: 20vw;
    }
    .BackgroundImgDisc{
        width: 350px;
        height: 350px;
    }
    .BackgroundImgDisc img{
        height: 270px;
    }
}